body{
	background-color: #f3f3f3;
	min-height: 100%;
width: 100%;
}


h1
{
	font-family: sans-serif;
	font-size: 3em;
	color: rgb(155,23,100);
	margin:auto;
}
.preview
{
	margin-top: 5em;
	width: 15%;
	background-color: #1a1a1a;
	padding: 10px 10px 10px 10px;
	margin-right: 10px;
	display: inline;
}


.preview:hover
{
	cursor: pointer;
}

.main{
	margin: auto;
	min-height: 55%;
	margin-left: 12.5%;
	background-color: #e4e4e4;
	width: 75%;
	text-align: center;
	padding-bottom: 12em;
}


